{% trans_default_domain 'FOSUserBundle' %}

<style>
.form-group
{
  max-width: 400px;
  margin: 10px auto;
}
body
{
  /* background-color: #14355f;
  color: #fff; */
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"].active:focus, input[type="submit"].active:hover,input[type="submit"].active.hover, input[type="submit"].active.focus
{    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
input[type="submit"]
{
    margin-top: 15px;
    width: 20%;
    background-color: #337ab7;
    color: white;
}
input
{
   display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label
{
  margin: 10px;
  display: block;
}
.btn
{
    display: inline-block;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;

  }

</style>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
